<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Skanny.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Skanny.Properties.Settings>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LastWindowRect" serializeAs="String">
                <value>0,0,640,480</value>
            </setting>
            <setting name="SidebarWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LastThumbSize" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="PicDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ScanDirectory" serializeAs="String">
                <value>C:\\Skanny\Scans</value>
            </setting>
            <setting name="LastView" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultScannerId" serializeAs="String">
                <value />
            </setting>
            <setting name="ScannerDPI" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ScannerColorFormat" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FilesToKeep" serializeAs="String">
                <value>10</value>
            </setting>
        </Skanny.Properties.Settings>
    </userSettings>
</configuration>